.chat-box {
    width: 300px;
    height: auto;
    border: 2px solid black;
    border-radius: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    display: none;
    z-index: 1000;
}

.chat-header {
    background-color: #343a40;
    color: #fff;
    border-radius: 17px 17px 0 0;
    padding: 10px;
    text-align: center;
    position: relative;
}

.chat-header .close-btn {
    position: absolute;
    right: 10px;
    top: 0px;
    background: none;
    border: none;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.chat-messages {
    height: 302px;
    margin: 10px 5px;
    overflow-y: auto;
}

.chat-input {
    display: flex;
    border-top: 1px solid #ccc;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 0 0 0 17px;
}

.chat-input button {
    padding: 10px;
    background-color: #007bff;
    border-radius: 0 0 17px 0;
    color: #fff;
    border: none;
    cursor: pointer;
}

.chat-toggle-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #343a40;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    z-index: 1000;
}